
<h1> Idea Box </h1>
  <div class="create">
    <%= link_to "Sign Up to be a New User", new_user_path %><br><br>
    <%= link_to 'I already have an account', login_path %><br>
  </div>

  <div class='cat'>
    <p> Afraid to forget your ideas ... We have the solution <p>
  </div>




</body>
</html>
