body {
  background-image: url("/assets/napoli.jpg");
  background-size: cover;
}

nav {
  background-color: #62929E;
  display: inline-block;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

nav p {
  padding-left: 20px;
  float: left;
  font-size: 40px;
  margin-top: 20px;
}

nav li {
  display: flex;
  flex-direction: row-reverse;
  float: right;
  font-size: 15px;
  margin-top: 10px;
}

nav li a {
  padding: 15px;
}

h1 {
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
}

.create {
  text-align: right;
  font-style: italic;
  font-size: 18px;
  padding-right: 10px;
  color: blue;
}

.cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#list {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-size: 20px;
}

#list p {
  padding: 5px;
}

.new_category {
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

#category_name {
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  margin: 10px;
}

label {
  font-size: 30px;
}

input {
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  margin: 10px;
}

.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  padding-left: 30px;
  font-size: 20px;
}
.show {
  text-align: center;
  padding: 20px;
}

.back {
  padding: 20px;
  font-style: italic;
  font-size: 18px;
}
